.table-section {
    .h4-title {
        @include fontSize(20px);
        color: $color01;
        font-family: 'TTCommonsMedium';
        text-transform: capitalize;
        margin: 10px 0;
    } 
}  

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    padding: 14px 20px 7px;
}

.table {
    background: white;
    border-radius: 2px;
    overflow: hidden;
    @include fontSize(18px);
    margin-bottom: 30px;

    .form-check .cr {
        margin-top: 2px;
    }

    thead {
        background: #91A1B3;
        border-radius: 2px 2px 0 0;

        tr {
            th {
                @include fontSize(18px);
                font-family: 'TTCommonsMedium';
                color: white;
                border: none;
                position: relative;
                cursor: pointer;
                vertical-align: top;

                &.none-sort {
                    &:before {
                        display: none;
                    }
                }

                &:before {
                    font-family: 'ElegantIcons';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    content: "\43";
                    color: #C7D4E2;
                    @include position-middle();
                    margin: 0 auto;
                    width: 16px;
                    height: 16px;
                    top: 16px;
                    right: auto;
                }

                &:last-child {
                    text-align: right;
                    padding-right: 30px;
                    &:before {
                        left: auto;
                        right: 10px;
                    }
                }

                &:first-child {
                    padding-left: 30px;

                    &:before {
                        left: 10px;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            th,td {
                padding: 20px 20px 15px;
                word-break: break-word;
                max-width: 300px;

                a {
                    color: #2196F3;

                    &.btn  {
                        color:  white;
                    }
                }
            }

            th {
                color: #2196F3;
                @include fontSize(18px);
                border-top: none;
                border-bottom: 1px dashed #EEEFF0;
                padding-left: 0;
                border-left: 60px solid white;

                &.normal {
                    color: $color02;
                }
            }

            td {
                color: $color02;
                @include fontSize(18px);
                border-top: none;
                border-bottom: 1px dashed #EEEFF0;

                &:last-child {
                    text-align: right;
                    padding-right: 0;
                    border-right: 60px solid white;
                }

                .btn-smaller {
                    margin: 0 0 0 10px;
                    top: -1px;
                    position: relative; 
                    min-width: 100px;
                }
            }

            &:last-child {
                th, td {
                    border-bottom: none;
                }
            }
        }
    }
}

.icon-add-white {
    width: 24px;
    height: 24px;
    background: url(img/dashboard/icon-add.png) center center no-repeat #02C2D1;
    border-radius: 50%;
    display: inline-block;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.btn {
    &.btn-icon {
        @include fontSize(18px);
        color: white;
        position: relative;
        padding: 6px .75rem 3px 45px;
        margin-right: 0;

        i {
            @include position-middle();
            left: 10px;
            right: auto;
        }
    }

    &.btn-smaller {
        @include fontSize(18px);
        font-family: 'TTCommonsRegular';
        padding: 4px 15px 2px;
        line-height: 18px;
    }
}

.text-area-2 {
    min-height: 112px;
}