.dashboard {
    background: #F6FAFB;
}  

.loading {
    @include position-middle();
    z-index: 999;
    height: 50px;
    width: 100px;

    .loading-inner {
        margin-top: -100px;
    }

    .spinner {
        margin:  auto;
        margin-top:-100px;
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 10px;
      }
       p
      { font-size:50px;
          color:transparent;
        }
         
      
      audio{
        visibility:hidden;
      }
       
      .spinner > div {
        background-color: $color05;
        height: 100%;
        width: 6px;
        display: inline-block;
        
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
      }
      
      .spinner .rect1 {
           background:$color05;
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
      }
      .spinner .rect2 {
           background:$color05;
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
      }
      
      .spinner .rect3 {
           background:$color05;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      
      .spinner .rect4 {
           background:$color05;
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
      }
      
      .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
           background:$color05;
      }
      
      @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
        20% { -webkit-transform: scaleY(1.0) }
      }
      
      @keyframes sk-stretchdelay {
        0%, 40%, 100% { 
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
        }  20% { 
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
        }
      }
      .sk-circle {
        margin: 100px auto;
        width: 10px;
        height: 10px;
        position: relative;
        background:$color05;
        border-radius:100%;
       left:-18px;
          -webkit-animation: sk 1.2s infinite ease-in-out;
      }
         
      
      
      @keyframes sk {
      1% {
          top: -15px;
       
        }
        2% {
          top: 10px;
       
        }
        5% {
          top: -20px;
       
        }
         10% {
          left: -10px;
       
        }
         20% {
         top:-25px;
       
        }
        30% {
         left:15px;
             background:$color05;
       
        }
        35% {
         top:5px;
       
        }
         45% {
         top:-5px;
       
        }
        50% {
         top:-5px;
       
        }
        
        60% {
         top:-6px;
       
        }
         70% {
         top:6px;
       
        }
         80% {
         top:6px;
       
        }
         60% {
         top:-6px;
       
        }
      }
}

.site_logo {
    width: 177px;
    height: 34px;
    background: url(img/dashboard/logo-2.png) no-repeat;
    display: block;
    margin: 17px 0 15px 15px;
    text-indent: -9999em;
    position: relative;

    &.site_logo_toggle {
        background: none;
        width: 40px;
    }

    &:after {
        content: '';
        width: 40px;
        height: 34px; 
        background: url(img/dashboard/logo-1.png) center center no-repeat; 
        @include position-middle();
        right: auto;
        display: block;
    }
}

.nav-sm .nav.child_menu li.active, 
.nav-sm .nav.side-menu li.active-sm {
    border: none;

    > a {
        text-shadow: none;
        background: none;
        box-shadow: none;
        color: white;

        i.menu-icon {
            &:after {
                display: block;
            }
        }
    }
}
.nav.side-menu > li {
    &.active {
        border: none;

        > a {
            text-shadow: none;
            background: none;
            box-shadow: none;
            color: white;

            i.menu-icon {
                &:after {
                    display: block;
                }
            }
        }
    }
}

.menu_section {
    margin-top: 13px;

    .side-menu {
        li {
            a {
                color: $color-link-nav;
                @include fontSize(18px);
                padding: 13px 23px 8px 23px;
                margin-bottom: 26px;
                transition: 0.15 all ease;
            }

            &:hover,&.active {
                a {
                    color: white;

                    i:after {
                        display: block;
                    }
                }
                
            }
        }
    }
}

.menu-icon {
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 15px;
    top: 6px;
}

.icon-dashboard { 
    height: 20px; 
    background: url(img/dashboard/icon-dashboard.png) center center no-repeat; 
    top: 4px;

    &:after {
        content: '';
        width: 24px;
        height: 20px; 
        background: url(img/dashboard/icon-dashboard-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.icon-plan { 
    height: 24px; 
    background: url(img/dashboard/icon-plan.png) center center no-repeat; 

    &:after {
        content: '';
        width: 24px;
        height: 24px; 
        background: url(img/dashboard/icon-plan-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.icon-user { 
    height: 24px; 
    background: url(img/dashboard/icon-user.png) center center no-repeat; 

    &:after {
        content: '';
        width: 24px;
        height: 24px; 
        background: url(img/dashboard/icon-user-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.icon-mobile { 
    height: 24px; 
    background: url(img/dashboard/icon-mobile.png) center center no-repeat; 

    &:after {
        content: '';
        width: 24px;
        height: 24px; 
        background: url(img/dashboard/icon-mobile-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.icon-campaign { 
    height: 24px; 
    background: url(img/dashboard/icon-campaign.png) center center no-repeat; 

    &:after {
        content: '';
        width: 24px;
        height: 24px; 
        background: url(img/dashboard/icon-campaign-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.icon-changepass { 
    height: 24px; 
    background: url(img/dashboard/icon-change-pass.png) center center no-repeat; 

    &:after {
        content: '';
        width: 24px;
        height: 24px; 
        background: url(img/dashboard/icon-change-pass-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.icon-profile { 
    height: 24px; 
    background: url(img/dashboard/icon-profile.png) center center no-repeat; 

    &:after {
        content: '';
        width: 24px;
        height: 24px; 
        background: url(img/dashboard/icon-profile-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.icon-upgrade { 
    height: 24px; 
    background: url(img/dashboard/icon-upgrade.png) center center no-repeat; 

    &:after {
        content: '';
        width: 24px;
        height: 24px; 
        background: url(img/dashboard/icon-upgrade-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.icon-logout { 
    height: 24px; 
    background: url(img/dashboard/icon-logout.png) center center no-repeat; 

    &:after {
        content: '';
        width: 24px;
        height: 24px; 
        background: url(img/dashboard/icon-logout-active.png) center center no-repeat; 
        @include position-middle();
        display: none;
    }
}

.menu_toggle {
    width: 24px;
    height: 14px;
    display: inline-block;
    background: url(img/dashboard/icon-hambergur-menu.png) center center no-repeat; 
}

.h3-title {
    @include fontSize(28px);
    font-family: 'TTCommonsMedium';
    color: $color01;
    margin: 7px 0 20px;

    .btn {
        top: -5px;
    }
}

.user-profile.dropdown-toggle {
    display: flex;
    align-items: center;  
    text-align: right;

    .name {
        @include fontSize(20px);
        color: $color01;
        font-family: 'TTCommonsMedium';
        text-align: right;
        line-height: 17px;
        margin-right: 5px; 
        margin-top: 2px;

        .email {
            display: block;
            @include fontSize(18px);
            color: $color03;
            font-family: 'TTCommonsRegular';
            text-align: right;
        }
    }

    .arrow_triangle-down {
        font-size: 15px;
        top: -9px;
        position: relative;
    }
}

.top_nav .dropdown-menu li a {
    @include fontSize(18px);
    color: $color02;
}

.dropdown-menu {
      >li>a {
        transition: .15s all ease-in;
    
        &:focus,
        &:hover,
        &.active {
            color: $color-active;
            text-decoration: none;
            background-color:$color-bg-hover;
    
            i {
                transition: .15s all ease-in;
                &:after {
                    display: block;
                }
            }
        }
    }
}

.breadcrumb {
    background: none;
    padding:0;
    @include fontSize(16px);
    margin-bottom: 0;
    
    li.breadcrumb-item a{
        color: $color03;

        &.active {
            color: $color02;
        }
    }

    >li {
        margin-top: 5px;

        +li:before {
            color: $color02;
            content: "|";
            padding: 0 8px 0 4px;
            position: relative;
            top: -1px;
        }
    }
}

.tab-content {
    padding: 32px 25px;
}

.white-box {
    border: 1px solid $color-border;
    background: white;
    border-radius: 2px;
    position: relative;
    padding: 26px;

    &.pd-0 {
        padding: 0 10px !important;
    }
}

.grey-box {
    border: 1px solid $color-border;
    background: #F5F5F5;
    border-radius: 2px;
    position: relative;
    padding: 26px;
}

.profile-setting {
    display: flex;
    align-items: center;

    img {
        width: 128px;
        height: 128px;
        border-radius: 50%;
    }

    .name {
        @include fontSize(24px);
        color: $color01;
        font-family: 'TTCommonsDemiBold';
        margin-left: 30px; 
        line-height: 29px;

        .email {
            display: block;
            @include fontSize(18px);
            color: $color02;
            font-family: 'TTCommonsRegular';
        }
    }

    .btn-edit-profile {
        width: 36px;
        height: 36px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: url(img/profile/icon-edit.png) center center no-repeat;
        background-color: $color04;
        text-indent: -9999em;
        border-radius: 0 2px 0 0;
    }
}

.profile-phone {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    span {
        @include fontSize(18px);
        color: $color01;
        font-family: 'TTCommonsDemiBold';

        span {
            display: block;
            color: $color02;
            font-family: 'TTCommonsRegular';
        }
    }
}

.icon-phone {
    width: 48px;
    height: 48px;
    display: block;
    background: url(img/profile/icon-phone.png) center center no-repeat;
    margin: 0 auto 10px;
}

.icon-timezone {
    width: 48px;
    height: 48px;
    display: block;
    background: url(img/profile/icon-timezone.png) center center no-repeat;
    margin: 0 auto 10px;
}

.tab_profile {
    display: flex;

    > div {
        flex: 1;
        margin: 0 10px;
    }
}

.tab_subscriptions {
    margin: 0;

    .row {
        display: flex;

        &.in-active {
            .sub-ttl {
                background: #d7d7d7; /* Old browsers */
                background: -moz-linear-gradient(left, #d7d7d7 0%, #b7b7b7 50%, #b7b7b7 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #d7d7d7 0%,#b7b7b7 50%,#b7b7b7 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #d7d7d7 0%,#b7b7b7 50%,#b7b7b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#b7b7b7',GradientType=1 ); /* IE6-9 */
            }

            .sub-info {
                h4 {
                    color: $color03;
                }
    
                ul li {
                    &:before {
                        border-color: #CBCBCB;
                    }
                }
            }

            #btn-change-payment-method {
                display: none;
            }

            .icon-visa {
                background: url(img/profile/icon-visa-inactive.png) center center no-repeat;
            }

            .icon-master {
                background: url(img/profile/icon-mastercard-inactive.png) center center no-repeat;
            }

            .icon-paypal {
                background: url(img/profile/icon-paypal-inactive.png) center center no-repeat;
            }
        }
    }

    .sub-ttl {
        background: rgba(91,202,149,1);
        background: -moz-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(91,202,149,1)), color-stop(100%, rgba(25,169,157,1)));
        background: -webkit-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        background: linear-gradient(135deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bca95', endColorstr='#19a99d', GradientType=1 );
        padding: 30px;

        h3 {
            @include fontSize(24px);
            color: white;
            font-family: 'TTCommonsMedium';
            margin-top: 0;
        }

        div {
            padding: 40px 0 0;

            .price {
                font-family: 'TTCommonsDemiBold';
                @include fontSize(24px);
                color: $color01;
                position: relative;
                padding: 9px 20px 3px 15px;
                background: white;
                border-radius: 20px;
                display: inline;

                span {
                    @include fontSize(14px);
                    font-family: 'TTCommonsDemiBold';
                    position: relative;
                    top: -5px;
                }
            }
            .month {
                @include fontSize(18px);
                font-family: 'TTCommonsRegular';
                color: white;
                display: inline-block;
                position: relative;
                top: 10px;
                margin-left: 7px;
            }
        }
    }

    .sub-info {
        padding: 28px 30px;

        h4 {
            @include fontSize(24px);
            color: #F98B24;
            padding: 10px 0 7px;
            margin-bottom: 10px;

            span {
                font-family: 'TTCommonsDemiBold';
                @include fontSize(24px);
            }
        }

        ul {
            li {
                display: block;
                @include fontSize(18px);
                color: $color03;
                padding: 6px 0 3px 20px;
                position: relative;

                span {
                    font-family: 'TTCommonsDemiBold';
                    color: $color01;
                }

                &:before {
                    @include size(9px,9px);
                    background: white;
                    border: 1px solid $color04;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    content: '';
                    display: block;
                }
            }
        }
    }

    .sub-payment {
        padding: 30px 5px 25px;

        h4 {
            @include fontSize(18px);
            color: $color03;
            padding: 8px 0 15px;
        }

        ul {
            li {
                display: block;
                @include fontSize(18px);
                color: $color03;
                padding: 3px 0 8px 0;
                position: relative;

                span {
                    font-family: 'TTCommonsDemiBold';
                    color: $color01;
                }
            }
        }
    }

    .card-name {
        font-family: 'TTCommonsDemiBold';
        @include fontSize(18px);
        color: $color01;
        text-transform: uppercase;
        margin-left: 10px;
    }

}

.icon-visa {
    @include size(50px, 26px);
    display: inline-block;
    background: url(img/profile/icon-visa-active.png) center center no-repeat;
    position: relative;
    top: 7px;

    &.in-active {
        background: url(img/profile/icon-visa-inactive.png) center center no-repeat;
    }
}

.icon-master {
    @include size(50px, 26px);
    display: inline-block;
    background: url(img/profile/icon-mastercard-active.png) center center no-repeat;
    position: relative;
    top: 7px;

    &.in-active {
        background: url(img/profile/icon-mastercard-inactive.png) center center no-repeat;
    }
}

.icon-paypal {
    @include size(50px, 26px);
    display: inline-block;
    background: url(img/profile/icon-paypal-active.png) center center no-repeat;
    position: relative;
    top: 7px;

    &.in-active {
        background: url(img/profile/icon-paypal-inactive.png) center center no-repeat;
    }
}

.btn-groups {
    display: flex;
    justify-content: flex-end;
    padding: 0;

    .btn {
        margin: 0 0 0 15px;
        min-width: 150px;
    }

    .btn {
        margin: 0 0 0 15px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.btn {
    border-radius: 2px;
}

.pl-btn {
    padding-left: .75rem !important;
}

.tab_payment-info {
    .payment-list {
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 0 32px 32px 0;

            .card {
                @include size(294px,187px);
                background: url(img/profile/mastercard-bg-active.png) center center no-repeat #0873D9;
                padding: 18px 24px;
                position: relative;
                overflow: hidden;
                border-radius: 10px;

                &.in-active {
                    &.visa {
                        background: url(img/profile/visa-bg-inactive.png) center center no-repeat #0873D9;
                    }
                    &.master {
                        background: url(img/profile/mastercard-bg-inactive.png) center center no-repeat #0873D9;
                    }
                }

                &.visa {
                    background: url(img/profile/visa-bg-active.png) center center no-repeat #0873D9;
                }

                &.paypal {
                    background: url(img/profile/paypal-active.png) center center no-repeat #0873D9;
                }

                &.add-card {
                    background: #F5F5F5;
                    border: 1px solid #EEEFF0;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    transition: all .15s ease;

                    &:hover {
                        opacity: 0.8;
                    }

                    .btn-add {
                        @include size(70px,50px);
                        background: white;
                        border-radius: 0 10px 10px 0;
                        border: 1px solid #EEEFF0;
                        border-left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    .icon-add {
                        @include size(21px,21px);
                        background: url(img/profile/add-button.png) center center no-repeat;
                        display: block;
                        margin-right: 10px;
                    }

                    .ttl {
                        @include fontSize(18px);
                        color: $color02;
                        margin-left: 10px;
                    }
                }

                h3 {
                    @include fontSize(20px);
                    color: $color11;
                    text-transform: uppercase;
                    margin: 0 0 0 -4px;
                }

                .card-number {
                    @include fontSize(26px);
                    color: #F2F2F2;
                    font-family: 'TTCommonsDemiBold';
                    text-shadow: 0 1px 2px black;
                    letter-spacing: 3px;
                    margin-top: 52px;
                }

                .expires {
                    @include fontSize(12px);
                    color: #F2F2F2;
                    text-transform: uppercase;
                    margin-top: -8px;
                    span {
                        font-family: 'TTCommonsDemiBold';
                        margin-left: 5px;
                    }
                }

                .card-holder-name {
                    @include fontSize(18px);
                    color: white;
                    font-family: 'TTCommonsMedium';
                    text-shadow: 0 1px 2px black;
                    text-transform: uppercase;
                    margin-top: 7px;
                }
            }
        }
    }
}

.btn-action {
    display: flex;
    justify-content: flex-end;

    .btn {
        @include size(36px,36px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-right: 15px;

        &.in-active {
            background: #F5F5F5;
            border: 1px solid #EEEFF0;
            color: #B7B7B7;

            .icon-edit {
                background: url(img/profile/icon-edit-grey.png) center center no-repeat;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        i {
            @include fontSize(18px);
        }
    }
}

.icon-remove {
    @include size(18px,18px);
    background: url(img/profile/add-button.png) center center no-repeat;
    display: block;
}
.icon-edit {
    @include size(21px,19px);
    background: url(img/profile/icon-edit.png) center center no-repeat;
    display: block;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog {
    .modal-header {
        background: #F5F5F5;
        border-radius: 4px 4px 0 0;
        padding: 13px 15px 12px;
        border: 0;
        margin-bottom: 10px;

        .close {
            position: absolute;
            right: 5px;
            top: 5px;
            opacity: 1;

            span {
                @include fontSize(40px);
                color: $color03;
                font-family: 'TTCommonsLight';
            }
        }
    }

    .modal-title {
        @include fontSize(24px);
        color: $color01;
        font-family: 'TTCommonsMedium';
        text-align: center;
    }

    .modal-body {

        p {
            @include fontSize(18px);
            color: $color02;
            text-align: center;
        }
    }

    .modal-footer {
        text-align: center;
        border-top: 0;
        margin-top: 10px;
        padding-bottom: 30px;

        .btn {
            margin: 0 0 0 15px;

            &:first-child {
                margin-left: 0;
            }
        }

        @media #{$mobile}{
            display: flex;
            margin-top: 0;
        }
    }

    @media #{$mobile}{
        width: 100%;
    }
}

.modal-content {
    border-radius: 4px;
}

.modal-s .modal-dialog {
    width: 400px;
}

.payment-history-list {
    li {
        display: block;
        border-bottom: 1px solid #EEEFF0;
        padding: 25px 0;

        &:first-child {
            padding-top: 0;
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        h3 {
            @include fontSize(24px);
            color: $color01;

            span {
                display: block;
                @include fontSize(18px);
                color: $color03;
                margin-top: 5px;
            }
        }

        p {
            display: block;
            @include fontSize(18px);
            color: $color02;

            span {
                font-weight: bold;
            }
        }

        .status {
            @include fontSize(16px);
            color: white;
            font-family: 'TTCommonsRegular';
            padding: 3px 20px 0;
            border-radius: 2px;
            display: inline-block;
            background: #2196F3;

            &.failed {
                background: #E2243D;
            }
        }
    }
}

.pagination > li {
    > a,
    > span {
        border: 0;
        color: $color02;
        @include fontSize(18px);
        border-radius: 50%;
        width: 36px;
        height: 36px;
        text-align: center;
        margin-right: 1px;
        background: none;

        &:hover, &:focus,&.active {
            border: none;
            background: #5bca95; /* Old browsers */
            background: -moz-linear-gradient(left, #5bca95 0%, #19a99d 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #5bca95 0%,#19a99d 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #5bca95 0%,#19a99d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bca95', endColorstr='#19a99d',GradientType=1 ); /* IE6-9 */
            color: white;
        }

        &.page-prev,
        &.page-next {
            border-radius: 2px;
            background: white;
            border: 1px solid #EEEFF0;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: #BDBDBD;
            }

            &:hover, &:focus {
                background: #5bca95; /* Old browsers */
                background: -moz-linear-gradient(left, #5bca95 0%, #19a99d 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #5bca95 0%,#19a99d 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #5bca95 0%,#19a99d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bca95', endColorstr='#19a99d',GradientType=1 ); /* IE6-9 */
                color: white;

                span {
                    color: white;
                }
            }
        }

        &.page-prev { margin-right: 10px; }
        &.page-next { margin-left: 10px; }
    }

    &.page-total {
        position: relative;
        top: 5px;
        margin-left: 10px;
        color: $color02;
        @include fontSize(18px);
    }
}

.btn-danger {
    background-color: #DF2842;
    border-color: #DF2842;
}

.w180 {width: 180px;}
.w250 {width: 250px;}

.white_panel {
    background: white;
    border-radius: 2px;
    padding: 32px 32px;
}

.form-control {
    height: 2.25rem;
    box-shadow: none;
    border-radius: 2px;

    &:focus {
        border-color: #2196F3;
    }
}

.h4-title {
    @include fontSize(20px);
    font-family: 'TTCommonsMedium';
    color: $color01;
}

.bootstrap-select.btn-group {
    &.open .dropdown-toggle {
        border: 0;
        background: none;
        padding: 1px 0 0;
        outline: none !important;
        box-shadow: none;
    }

    .dropdown-menu li a {
        @include fontSize(18px);
        color: $color02;
        padding-left: .75rem;
    }

    .dropdown-toggle {
        border: 0;
        background: none;
        padding: 1px 0 0;
        outline: none !important;
        box-shadow: none;
    
        &:hover, &:focus, &:active {
            border: 0;
            background: none;
            padding: 1px 0 0;
            outline: none !important;
            box-shadow: none;
        }

        .filter-option {
            @include fontSize(18px);
            color: $color02;
        }
    }

    .bs-caret .caret {
        border-top-color: #C5D0D8;
        margin-top: -5px;
        right: 0;
    }
} 

.dropdown-menu {
    border-color: #E1E4EA;
}

body.modal-open .modal {
    //display: flex !important;
    height: 100%;
} 

body.modal-open .modal .modal-dialog {
    margin: auto;
    align-items: center;
    @include position-middle();
    height: fit-content;
}

.justify-content-around {
    display: flex;
    justify-content: space-around;
}

.justify-content-end {
    display: flex;
    justify-content: flex-end;
}

.justify-content-between {
    display: flex;
    justify-content: space-between;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-item-center {
    display: flex;
    align-items: center;
}

.align-item-end {
    display: flex;
    align-items: flex-end;
}

@media #{$mobile}{
    .justify-content-around,
    .justify-content-between {
        display: initial;
    }
}

.select-payment-method {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    p {
        @include fontSize(18px);
        color: $color02;
    }

    .form-check-inline {
        margin-left: 28px;
        cursor: pointer;

        .form-check-label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .form-check-input {
            margin: -4px 10px 0 0;
            cursor: pointer;
            top: 0;
        }

        .check-label {
            @include fontSize(16px);
            color: white;
            padding: 6px 15px 2px;
            background: #247CE4;
            border-radius: 2px;
        }
    }

    &.user-type {
        .form-check-inline .form-check-input {
            margin-top: -7px;
        }
    }

    &.plan-type {
        margin-top: 31px;
    }

    @media #{$tablet}{
        display: block;
        margin-bottom: 8px;

        .form-check-inline {
            margin-bottom: 10px;
            display: inline-block;
        }
    }

    @media #{$mobile}{
        display: block;
        margin-bottom: 8px;

        .form-check-inline {
            margin-bottom: 10px;
            display: inline-block;
        }
    }
}

.icon-paypal-large {
    width: 90px;
    height: 30px;
    background: url(img/landing/icon-paypal.png) center center no-repeat;
    display: inline-block;
}

.create-app-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .item {
        width: calc(100%/3 - 30px);
        border: 1px solid #EEEFF0;
        background: #F5F5F5;
        border-radius: 2px;
        padding: 30px 15px 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &.fail {
            i.icon-status {
                background: url(img/dashboard/icon-stt-fail.png) center center no-repeat;
            }
        }

        i {
            width: 50px;
            height: 50px;
            display: block;
            background: #5bca95; /* Old browsers */
            background: -moz-linear-gradient(left, #5bca95 0%, #19a99d 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #5bca95 0%,#19a99d 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #5bca95 0%,#19a99d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bca95', endColorstr='#19a99d',GradientType=1 ); /* IE6-9 */
            border-radius: 50%;
            margin-top: -2px;
            position: absolute;
            left: 15px;
            
            
            &.icon-id {
                background: url(img/dashboard/icon-ID.png) center center no-repeat;
            }
            &.icon-status {
                background: url(img/dashboard/icon-stt-active.png) center center no-repeat;
            }
            &.icon-key {
                background: url(img/dashboard/icon-appkey.png) center center no-repeat;
            }
        }
    }

    ul li {
        display: inline-block;
        padding: 0 13px 0 11px;
        border-right: 1px solid $color01;
        @include fontSize(20px);
        color: $color02;
        height: 15px;
        line-height: 18px;

        &:last-child {
            border: none;
            font-family: 'TTCommonsMedium';
            color: $color01;
        }
    }
}

.campaign-position {
    background: #F6FAFB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;

    .mobile {
        width: 200px;
        height: 403px;
        background: url(img/dashboard/bg-ip.png) center center no-repeat;
        display: flex;
        justify-content: center;
        padding: 20px 0;

        &.off {
            background: url(img/dashboard/bg-ip-off.png) center center no-repeat;

            .popup-ad {
                display: none;
            }
        }

        &.center {
            align-items: center;
        }
        &.top {
            align-items: flex-start;
        }
        &.bottom {
            align-items: flex-end;
        }
    }

    .popup-ad {
        position: relative;
    }

    .close {
        width: 18px;
        height: 18px;
        background: rgba(0,0,0,0.2);
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }

        i {
            color: white;
        }
    }
}

.tab_triggers {
    .btn-icon {
        top: -58px;
        z-index: 2;
        margin-right: 0;
    }
}

.modal-body,
.modal-footer {
    padding: 15px 30px 30px;
}

.notify {
    width: auto;
    @include position-middle();
    top: 66px;
    bottom: auto;
    text-align: center;
    display: flex;
    background: none;
    border: none;
    z-index: 99; 
    padding: 0;

    &.shake {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        animation-iteration-count: infinite;
    }

    &.notify-msg {
        position: relative;
        top: 0;
        margin-bottom: 20px;

        .notify-in {
            justify-content: flex-start;
            width: 100%;

            .close {
                margin-left: auto;
            }
        }

        &.error {
            .notify-in {
                background: #f23347;
                color: white;

                .icon_close_alt {
                    top: -2px;
                    position: relative;
                }
            }
        }

        &.success {
            .notify-in {
                background: #32ac41;
                color: white;

                .icon_close_alt {
                    top: -2px;
                    position: relative;

                    &:before {
                        content: "\e052";
                    }
                }
            }
        }

        &.info {
            .notify-in {
                background: #1d8bf1;
                color: white;

                .icon_close_alt {
                    top: -2px;
                    position: relative;

                    &:before {
                        content: "\e060";
                    }
                }
            }
        }

        &.warning {
            .notify-in {
                background: #fb7f01;
                color: white;

                .icon_close_alt {
                    top: -2px; 
                    position: relative;

                    &:before {
                        content: "\e060";
                    }
                }
            }
        }
    }

    .notify-in {
        margin: auto;
        background: #F98B24;
        border-radius: 2px;
        padding: 12px 10px 8px;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .message {
        @include fontSize(18px);
        color: white;
        margin: 0 15px;
    }

    .icon-notify {
        width: 32px;
        height: 32px;
        display: block;
        background: url(img/dashboard/icon-bell.png) center center no-repeat rgba(255,255,255,0.2);
        border-radius: 50%;
    }

    .close {
        opacity: 1;
        color: white;
        margin-top: 3px;

        i {
            @include fontSize(20px);
            color: white;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.form-check-style {
    color: $color02;
    margin-bottom: 10px;

    .form-check-label {
        color: $color02;

        span {
            font-family: 'TTCommonsMedium';
            font-weight: 500;
        }
    }
}

.link-default {
    &:hover {
        color: #1d83d4;
    }
}

.select-card {
    .form-check label input[type="radio"] + .cr {
        top: 2px;
    }
}