@font-face {
    font-family: 'TTCommonsRegular';
    src: url('fonts/TTCommonsRegular.eot');
    src: url('fonts/TTCommonsRegular.eot') format('embedded-opentype'),
         url('fonts/TTCommonsRegular.woff2') format('woff2'),
         url('fonts/TTCommonsRegular.woff') format('woff'),
         url('fonts/TTCommonsRegular.ttf') format('truetype'),
         url('fonts/TTCommonsRegular.svg#TTCommonsRegular') format('svg');
    font-display: block;
}

@font-face {
    font-family: 'TTCommonsMedium';
    font-display: block;
    src: url('fonts/TTCommonsMedium.eot');
    src: url('fonts/TTCommonsMedium.eot') format('embedded-opentype'),
         url('fonts/TTCommonsMedium.woff2') format('woff2'),
         url('fonts/TTCommonsMedium.woff') format('woff'),
         url('fonts/TTCommonsMedium.ttf') format('truetype'),
         url('fonts/TTCommonsMedium.svg#TTCommonsMedium') format('svg');
}

@font-face {
    font-family: 'TTCommonsDemiBold';
    font-display: block;
    src: url('fonts/TTCommonsDemiBold.eot');
    src: url('fonts/TTCommonsDemiBold.eot') format('embedded-opentype'),
         url('fonts/TTCommonsDemiBold.woff2') format('woff2'),
         url('fonts/TTCommonsDemiBold.woff') format('woff'),
         url('fonts/TTCommonsDemiBold.ttf') format('truetype'),
         url('fonts/TTCommonsDemiBold.svg#TTCommonsDemiBold') format('svg');
}

@font-face {
    font-family: 'TTCommonsLight';
    font-display: block;
    src: url('fonts/TTCommonsLight.eot');
    src: url('fonts/TTCommonsLight.eot') format('embedded-opentype'),
         url('fonts/TTCommonsLight.woff2') format('woff2'),
         url('fonts/TTCommonsLight.woff') format('woff'),
         url('fonts/TTCommonsLight.ttf') format('truetype'),
         url('fonts/TTCommonsLight.svg#TTCommonsLight') format('svg');
}

body { 
    background: url(../css/img/landing/bg.png) top right no-repeat;
    height: 100vh;
    background-size: contain;
    color: #333333;
}

.logo {
    padding: 30px 0 10px 40px;
    margin: 0;
}

.form-login {
    margin-left: 10%;
    display: flex;
    flex-flow: column;
    padding: 200px 0 110px;
    justify-content: center;

    .logo {
        position: fixed;
        top: 0;
        left: 0;
    }

    @media #{$mobile}{
        margin-left: 0;
        padding: 100px 0 70px;
    }
}

.alert-danger, .alert-error {
    color: white;
    text-align: center;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 5000px;

    &:hover {
        animation: shake2 0.5s; 
        animation-iteration-count: infinite; 
    }

    .close {
        color: white;
        opacity: 0.8;
    }
}
  
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake2 {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.summary {
    border-radius: 4px;
    height: calc(100vh - 140px);
    padding: 110px 20px 20px;
    background: rgba(91,202,149,1);
    background: -moz-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(91,202,149,1)), color-stop(100%, rgba(25,169,157,1)));
    background: -webkit-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
    background: linear-gradient(135deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bca95', endColorstr='#19a99d', GradientType=1 );

    &.login {
        background: url(img/landing/login-bg.png) top center no-repeat;
        background-size: cover;
        margin-left: auto;
        height: 100vh;
        border-radius: 0;
        padding: 110px 20px 110px;

        @media #{$mobile}{
            background-size: auto;
        }
        

        .title-login {
            @include fontSize(30px);
            color: #00CFDF;
            text-align: center;
        }
    }

    .title {
        font-family: 'TTCommonsMedium';
        color: white;
        padding: 13px 20px 7px;
        background: rgba(255,255,255,0.1);
        border-radius: 4px;
        @include fontSize(28px);
        margin-bottom: 20px;
        text-align: left;
    }

    .summary-list {
        margin-top: 19px;

        li {
            font-size: 18px;
            color: white;
            font-family: 'TTCommonsRegular';
            padding: 9px 20px;

            span {
                font-size: 20px;
                font-family: 'TTCommonsMedium';
                float: right;
            }

            hr {
                margin: 4px 0 11px;
                color: white;
                border-color: white;
            }
        }
    }
}


.form-check {
    label {
        cursor: pointer;

        input[type="checkbox"] {
            display: none;

            +.cr>.cr-icon {
                opacity: 0;
            }

            &:checked+.cr {
                background: #2196F3;
                border-color: #2196F3;

                >.cr-icon {
                    opacity: 1;
                }
            }

            &:disabled+.cr {
                border-color: #e5e8ed;
                background: #e5e8ed;
                >.cr-icon {
                    color: #999999;
                }
            }
        }

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        input[type="radio"] {
            display: none;

            + .cr {
                position: relative;
                display: inline-block;
                background: #f5f6f8; 
                border: 1px solid #f5f6f8;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                float: left;
                margin-right: 10px;
                top: -2px;
        
                .cr-icon {
                    position: absolute;
                    top: 0px;
                    left: 0;
                    color: white;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    content: '';
                    width: 6px;
                    height: 6px;
                    background: white;
                    border-radius: 50%;
                    transform: none;

                    &:before {
                        display: none;
                    }
                }
            }

            +.cr>.cr-icon {
                opacity: 0;
            }

            &:checked+.cr {
                background: #2196F3;
                border-color: #2196F3;

                >.cr-icon {
                    opacity: 1;
                }
            }

            &:disabled+.cr {
                border-color: #e5e8ed;
                background: #e5e8ed;

                >.cr-icon {
                    color: #999999;
                }
            }

            &:checked:disabled+.cr {
                background: #e5e8ed;
                border-color: #e5e8ed;

                >.cr-icon {
                    opacity: 1;
                    background: #c0c1c2;
                }
            }
        }
    }

    .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #E1E4EA;
        border-radius: 2px;
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 10px;

        .cr-icon {
            position: absolute;
            font-size: 14px;
            top: 0px;
            left: -1px;
            color: white;
            bottom: 0;
            right: 0;
            margin: auto;
            font-weight: bold;
            transform: rotate(22deg);
        }
    }
} 

.form-register {
    display: flex;
    flex-flow: column;
    justify-content: center;

    .form-check .cr {
        top: 2px;
    }
}

.title {
    @include fontSize(28px);
    font-family: 'TTCommonsMedium';
    color: $color01;
    margin-bottom: 25px;
    text-align: center;
    text-transform: capitalize;
}

.sign-up {
    margin-top: auto;
    display: flex;
    justify-content: center;

    p {
        @include fontSize(18px);
        color: $color02;
        text-align: center;

        a {
            color: #00CFDF;
            margin-left: 5px;

            // &:after {
            //     display: block;
            //     content: '';
            //     position: absolute;
            //     bottom: 0;
            //     top: 1rem;
            //     left: 0;
            //     width: 0%;
            //     transition: width .3s ease;
            // }

            // &:hover:after {
            //     width: 100%;
            //     border-bottom: 1px solid #00CFDF;
            //     opacity: .3;
            // }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.help-block {
    position: relative;
    padding-left: 22px;

    &:before {
        @include iconFont();
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    &.with-errors {
        &:before {
            content: "\e051";
            color: #f23347;
        }
    }

    &.with-success {
        &:before {
            content: "\e052";
            color: #32ac41;
        }
    }
}

.form-group {
    label {
        margin-bottom: 2px;
    }

    &.has-error {
        .help-block {
            &:before {
                display: block;
            }
        }
    }
} 

.form-control {
    padding: 5px .75rem 2px;
    font-size: 18px;
    line-height: 1.5;
    color:$color02;
    border: 1px solid $color08;
    border-radius: 2px;
}

.bootstrap-select {
    &.form-control {
        padding: 5px .75rem 2px;
        font-size: 18px;
        line-height: 1.5;
        color:$color02;
        border: 1px solid $color08;
        border-radius: 2px;
    }
}

.form-style {
    &.form-style2 {
        .form-group .form-control {
            padding-left: .75rem;

            &.cardnumber {
                padding-left: 70px;
            }
        }
    }

    .form-group {
        position: relative;
        margin-bottom: 17px;
        
        label {
            font-size: 16px;
            color: $color03;

            span {
                display: inline;
                color: $color06;
            }
        }

        &.icon-right {
            .icon-form {
                left: auto;
                right: 14px;
            }

            .form-control {
                padding-left: .75rem;
                padding-right: 40px;
            }
        }

        &.none-icon {
            .form-control {
                padding-left: .75rem;
            }
        }

        .icon-form {
            color: $color07;
            font-size: 14px;
            position: absolute;
            left: 14px;
            top: 34px;
            z-index: 1;
        }

        .icon-card {
            position: absolute;
            left: 5px;
            top: 29px;
            z-index: 1;
        }

        .form-control {
            padding-left: 40px;
        }

        &.remember-check {
            margin-top: 14px;

            label {
                @include fontSize(18px);
                color: $color02;
            }

            .cr {
                position: relative;
                top: 2px;
            }
        }
    }

    .btn-groups {
        display: flex; 
        margin-top: 20px;

    }

    .capcha {
        background: $color10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .form-check-input { 
        margin-right: 7px;
        position: relative;
        top: -2px;
    }

    .form-check-label {
        font-size: 18px;
        color: $color01;
    }
}

.mb-1 {
    margin-bottom: 10px !important;
}

.btn {
    font-size: 20px;
    font-family: 'TTCommonsMedium';
    padding: 10px .75rem 6px;
    border-radius: 2px !important;

    &.btn-small {
        @include fontSize(18px);
        padding: 6px .75rem 3px;
    }

    &.active, &:active {
        box-shadow: none;
    }
}
.btn-secondary {
    background-color: $color09;
    border-color: $color09;
    color: white;

    &:hover, &:focus, &:active, &:active:hover, &:active:focus {
        background-color: #9c9c9c;
        border-color: #9c9c9c;
        color: white;
    }
}

.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover, &:focus, &:active, &:active:hover, &:active:focus {
        background-color: $color-primary-hover;
        border-color: $color-primary-hover;
    }
}

.btn-success {
    background-color: #35DE5C;
    border-color: #35DE5C;

    &:hover, &:focus, &:active, &:active:hover, &:active:focus {
        background-color: #28b148;
        border-color: #28b148;
    }
}

.w100 {
    width: 100px;;
}

.w150 {width: 150px;}

.landing {
    background: url(img/landing/background.jpg) top center no-repeat;
    background-size: contain;

    @media #{$mobile}{
        background-size: auto;
    }
}

.title-page {
    @include fontSize(36px);
    font-family: 'TTCommonsMedium';
    text-align: center;
    color: white;
    margin: 40px 0 10px;

    span {
        @include fontSize(24px);
        font-family: 'TTCommonsLight';
        display: block;
        margin: 10px 0;
    }
}

.plan-section {
    background: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1.79px 4.67px 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 20px;

    .plan-price {
        background: rgba(91,202,149,1);
        background: -moz-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(91,202,149,1)), color-stop(100%, rgba(25,169,157,1)));
        background: -webkit-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        background: linear-gradient(135deg, rgba(91,202,149,1) 0%, rgba(25,169,157,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bca95', endColorstr='#19a99d', GradientType=1 );
        min-height: 170px;
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        position: relative;

        &.option-2 {
            background: #c85da7; /* Old browsers */
            background: -moz-linear-gradient(left, #c85da7 0%, #834fcb 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #c85da7 0%,#834fcb 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #c85da7 0%,#834fcb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c85da7', endColorstr='#834fcb',GradientType=1 ); /* IE6-9 */
        }

        &.option-3 {
            background: #f6ab5c; /* Old browsers */
            background: -moz-linear-gradient(left, #f6ab5c 0%, #e13587 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f6ab5c 0%,#e13587 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f6ab5c 0%,#e13587 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ab5c', endColorstr='#e13587',GradientType=1 ); /* IE6-9 */

        }
    }

    .price {
        @include fontSize(72px);
        color: white;
        font-family: 'TTCommonsMedium';
        line-height: 50px;
        margin-top: 45px;

        span {
            @include fontSize(36px);
        }
    }

    .per-month {
        @include fontSize(20px);
        color: white;
    }

    .plan-accept {
        li {
            display: block;
            text-align: center;
            @include fontSize(18px);
            color: $color02;
            padding: 12px 10px 9px ;
            position: relative;

            &:first-child {
                color: $color01;
                text-transform: uppercase;
                @include fontSize(24px);
                font-family: 'TTCommonsRegular';
                padding: 10px 10px 6px;

                span {
                    font-family: 'TTCommonsMedium';
                    @include fontSize(24px);
                }
            }

            &:nth-child(even) {
                background: #F5FAFB;
            }

            span {
                font-family: 'TTCommonsMedium';
                color: $color01;
                font-weight: bold;
            }

            &.active {
                &:before {
                    width: 14px;
                    height: 10px;
                    background: url(img/landing/check.png) center center no-repeat;
                    content: '';
                    display: block;
                    @include position-middle();
                    right: auto;
                    left: 25px;

                    @media #{$tablet}{
                        left: 10px;
                    }
                }
            }
        }
    }
}

.ribbon {
    @include fontSize(18px);
    color: $color01;
    padding: 4px 40px 0px;
    text-align: center;
    text-transform: uppercase;
    background: white;
    transform: rotate(43deg);
    position: absolute;
    right: -44px;
    top: 20px;

    &.ribbon-2 {
        color: #000000;
        background: #ffa302; /* Old browsers */
        background: -moz-linear-gradient(left, #ffa302 0%, #ffde00 50%, #ffa302 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffa302 0%,#ffde00 50%,#ffa302 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffa302 0%,#ffde00 50%,#ffa302 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa302', endColorstr='#ffa302',GradientType=1 ); /* IE6-9 */
    }
}

address {
    color: $color03;
    @include fontSize(16px);
    text-align: center;
    margin-top: 30px;
}

.nav-tabs>li>label
{
    display: inline-block;
    padding: 1em;
    margin: 0;
    cursor: pointer;
}

.pd-0 {
    padding: 0 !important;
}