//Variable Colors
$color01: #333333;
$color02: #666666;
$color03: #999999;
$color04: #00CFDF;
$color05: #35DE5C;
$color06: #ed1c25;
$color07: #c5d0d8;
$color08: #E1E4EA;
$color09: #B7B7B7;
$color10: #f8f8f8;
$color11: #EFEFEF;
$color-primary: #00c9da;
$color-primary-hover: #00b9bf;
$color-link-nav: #91A1B3;
$color-bg-hover: #f2f8fc;
$color-active: #2196f3;
$color-bg: #F6FAFB;
$color-border: #EEEFF0;

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1024px)";
$desktopsmall: "(max-width: 1440px)";
$desktoplarge: "(max-width: 1700px)";
$tabletonly: "(width: 768px)";


$padding-ratio-16-9: 56.25%;

// Mixin
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin placeholder {
&::-webkit-input-placeholder {@content}
&:-moz-placeholder           {@content}
&::-moz-placeholder          {@content}
&:-ms-input-placeholder      {@content}  
}

@mixin h3() {
	font-size: 22px;
	color: $color-green;
	text-transform: uppercase;
}

// Clearfix mixin 
@mixin clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Usage
//@include clearfix();

// Define default font size
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin fontSize($size) {
	font-size: $size;
	font-size: calculateRem($size);
}
//Usage
p {
	@include fontSize(14px);
}

@mixin size($w,$h) {
	width: $w;
	height: $h;
}

//Animation mixin setup
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}  
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}  
	@keyframes #{$animation-name} {
		@content;
	}
}
@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};      
}
//Usage
// Define animation name, and properties
@include keyframes(fade-out) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
// Add animation to element
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('fade-out 5s 3');
}

/// Background gradient helper mixin
/// @param {Color} $start-color - Start color
/// @param {Color} $end-color - End color
/// @param {String} $orientation - Type of gradient, either `vertical`, `horizontal` or `radial`
@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  // Vertical Gradient
  @if $orientation == 'vertical' {
    background: linear-gradient(to bottom, $start-color, $end-color);
  } 
  
  // Horizontal Gradient
  @else if $orientation == 'horizontal' {
    background: linear-gradient(to right, $start-color, $end-color);
  } 
  
  // Radial Gradient
  @else if $orientation == 'radial' {
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

// Truncate 
@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

@mixin iconFont() {
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

@mixin position-tb() {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

@mixin position-lr() {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

@mixin position-middle() {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

@mixin transitionStyle ($transition) {
	-webkit-transition: $transition;
	  -moz-transition: $transition;
	  -ms-transition: $transition;
	  -o-transition: $transition;
	  transition: $transition;
}

@mixin flexcenter() {
	align-items: center;
    display: flex;
    justify-content: center;
}

$sides: (
"": "",
"t": "top",
"b": "bottom",
"l": "left",
"r": "right",
);

$breakpoints: (
"": "",
"xs": 576px,
"sm": 768pxm,
"md": 992px,
"lg": 1200px,
);

@each $breakName, $breakValue in $breakpoints {
  @each $sideName, $sideValue in $sides {
    @for $i from 0 through 10 {
      
      $property: if($sideName == '', '', -#{$sideValue});
      $space: $i * 10;
      $selector: '';

      @if $breakName != "" {
        $selector: #{$sideName}-#{$breakName}-#{$i};
      } @else {
        $selector: #{$sideName}-#{$i};
      }

      @if $breakName != "" {
        @media (min-width: $breakValue) {
          .m#{$selector} {
            margin#{$property}: #{$space}px !important;
          }
  
          .p#{$selector} {
            padding#{$property}: #{$space}px !important;
          }
        }
      } @else {
        .m#{$selector} {
          margin#{$property}: #{$space}px !important;
        }

        .p#{$selector} {
          padding#{$property}: #{$space}px !important;
        }
      }
    }
  }
}